.main{
    display: flex;
    padding-left: 10px;
    min-height: 100vh;
    background-color: rgba(174, 243, 243, 0.322);
    
}
section.mainContainer{
    display: flex;
    flex-direction: row;
    padding-left: 150px;
}
section.todos{
    display: flex;
    flex-direction: column;
    width:100rem;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 60px;  
}

#sidebar {
    display: flex;
    padding-right: 10px;
}
#calendarComponent {
    display: flex;
    flex-direction: column;
    padding-right: 300px;
    margin-left: auto;
    padding-top: 70px;
    padding-left: 180px;

    
}
#headerContainer{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
 
}

#addTask{
    padding-left: 12rem;
}



#checklist{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    
}

header {
    display: flex;
    flex-direction: row;
 
    border-color: black;
    padding-left: 10px;
    padding-top:28px;
   
    align-items: bottom;
   
    
  }